/* #masthead {
    position: fixed;
    z-index: 99;
    width: 100%;
    margin: 0 0 30px;
    overflow: auto;
    color: white;
    background: lightskyblue;
    border-bottom: 2px solid blue;
} */

/* nav {
    float: right;
    margin-top: 25px;
} */

/* nav a {
    display: inline-block;
    padding-left: 15px;
    margin-left: 15px;
    line-height: 18px;
    color: white;
    text-decoration: none;
    border-left: 1px solid white;
} */

/* nav a:first-child {
    border-left: 0 none;
} */

/* #navbar{
    margin-top: -25px;
} */

/* #one {
    color: black;
} */

#head {
    width: 100%;
    overflow: auto;
}

.animate__animated.animate__fadeInRight {
    font-size: 80px;
    /* transition-duration: 12s; */
    color: black;
}

.btn-proj {
    color: white;
    border: 2px solid blue;
    background-color: red;
    border-radius: 4px;
    cursor: pointer;
}

/* #btn.btn-primary {
    color: white;
} */

/* .col-sm-4 {

} */

@media screen and (max-width: 980px) {
    [class="container"]{
        width: 100%;
    }
    [class="row"]{
        width: 100%;
    }
    [class="letters"]{
        width: 100%;
    }
    [class=class="col-sm-4"]{
       width: 100%;
    }
  }
  
  @media screen and (max-width: 768px) {
    [class="container"]{
        width: 100%;
    }
    [class="row"]{
        width: 100%;
    }
    [class="letters"]{
        width: 100%;
    }
    [class=class="col-sm-4"]{
       width: 100%;
    }
  }
  
  @media screen and (max-width: 640px) {
     [class="container"]{
         width: 100%;
     }
     [class="row"]{
         width: 100%;
     }
     [class="letters"]{
         width: 100%;
     }
     [class=class="col-sm-4"]{
        width: 100%;
    }
  }